<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a target="_blank" href="https://github.com/Versagility-Technologies">
                        <i class="fa fa-github-square fa-5x client-icon"></i>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a target="_blank" href="mailto:leadership@versagilitytechnologies.com">
                        <i class="fa fa-envelope fa-5x client-icon"></i>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a target="_blank" href="https://www.linkedin.com/company/versagility-technologies">
                        <i class="fa fa-linkedin-square fa-5x client-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </aside>