<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">What can Versagility bring to the table?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse fa-university"></i>
                    </span>
                    <h4 class="service-heading">Agile Coaching</h4>
                    <p class="text-muted">In today’s technical landscape the speed at which solutions can be integrated and delivered is a primary focus. With such an emphasis on speed it can difficult to stay on top of everything to ensure the team can remain focused and happy. Versagility can help. Our team has years of experience leveraging various agile methodologies at the project, program and portfolio levels including scrum, kanban and SAFe. Let’s discuss ways Versagility can work with your group to keep your project on track and running smoothly.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Software Development</h4>
                    <p class="text-muted">So, you’ve identified a deficiency in your current solution or an area of your product space that could benefit from additional technical capabilities. Let’s do something with that vision. Our team has extensive experience architecting, leading, managing, developing and maintaining software solutions. Together, we can get functionality to your users leveraging industry best practices and years of experience.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-repeat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DevSecOps</h4>
                    <p class="text-muted">Whether you call it “DevSecOps” or “SecDevOps” the benefits of incorporating application and infrastructure security as early as possible within the software development lifecycle are undeniable. Automating as many pieces of the continuous integration/delivery pipeline will help to lessen, if not eliminate, the impact of reactionary security compliance changes discovered late in the development lifecycle. All of this, however, is predicated on a cultural shift favoring collaboration and agility. This is why you need someone on your side who is familiar with various industry-standard tools which can be leveraged to gain the insight necessary to adapt to a fluid cyber security arena as well as how to drive the necessary culture change. Versagility is that group. Contact us today to find out how we can help drive functionality to your user base without sacrificing integrity.</p>
                </div>
            </div>
        </div>
    </section>